:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --tertiary-color: #FFFFFF;
    --logo-color: #000000;
    --accent-color: #2196F3;
    --bgd-color-primary: #F5F5F5; 
    --bgd-color-secondary: #F5F4FA;
    --bgd-color-accent: #2F303A;
}

body {
    background-color: var(--bgd-color-primary);
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.header {
    background-color: var(--tertiary-color);
}

.header .logo {
    color: var(--logo-color);
}

.logo-accent {
    color: var(--accent-color)
}

.site-nav .link {
    color: var(--primary-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.contacts .link {
    color: var(--secondary-color);
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

.site-nav .current {
    color: var(--accent-color)
}

.hero {
    background-color: var(--bgd-color-accent);
}

.title-hero {
    color: var(--tertiary-color);
}

.hero .button {
    background-color: var(--accent-color);
    color: var(--tertiary-color); 
}

.subtitle {
    color: var(--primary-color);
}

.description {
    color: var(--secondary-color);
}

.title-features {
    visibility: hidden;
}

.title-works {
    color: var(--primary-color);
}

.team {
    background-color: var(--bgd-color-secondary);
}

.team-card {
    background-color: var(--tertiary-color);
}

.title-team {
    color: var(--primary-color);
}

.footer {
    background-color: var(--bgd-color-accent);
}

.footer .logo {
    color: var(--tertiary-color);
}

.address .map {
    color: var(--tertiary-color); 
}

.address .email,
.address .phone {
    color: rgba(255, 255, 255, 0.6);
}

.link.email:hover,
.link.email:focus,
.link.phone:hover,
.link.phone:focus,
.link.map:hover,
.link.map:focus {
    color: var(--accent-color);
}


.title-portfolio {
    visibility: hidden;
}

.portfolio .button {
    background-color: var(--bgd-color-secondary);
    color: var(--primary-color);
}

.portfolio .button:hover,
.portfolio .button:focus {
    background-color: var(--accent-color);
    color: var(--tertiary-color); 
}

.portfolio-card {
    background-color: var(--tertiary-color);
}
